<section class="cta">
	<div class="text-center">
		<img src="/images/logo.svg" alt="Logo" class="mx-auto h-10 mb-6">
		<h2 class="text-3xl sm:text-3xl md:text-4xl mb-4">Store, manage, and collaborate with MyDrive</h2>
		<p class="text-lg mb-6">Login or create your free account and get started in minutes.</p>
		<div class="cta-buttons">
			<a class="btn" href="/login">Login</a>
			<a class="btn-alt" href="/signup">Sign Up</a>
		</div>
	</div>
</section>
