<div class="greeting">
	<h1 class="text-3xl font-bold mb-4">Welcome to MyDrive</h1>
	<p class="text-xl mb-4">MyDrive is your personal online and secure space for photos, documents, and any files.</p>
</div>
<div class="user-info">
	<% if (user) { %>
	<p class="text-lg text-center">Hello, <%= user.name %>!</p>
	<a href="/folders">Go to your folders</a>
	<% } else { %>
	<p class="mb-2 text-center">Ready to to get started? <a href="/signup">Sign up</a> or <a href="/login">login</a> to your existing account.</p>
	<% } %>
	<%- include("features") %>
</div>
