<div class="greeting">
	<div class="intro">
		<h1 class="text-lg sm:text-xl mb-4">MyDrive</h1>
		<h2 class="text-3xl sm:text-5xl md:text-6xl mb-4">Store and share files online</h2>
		<p class="text-lg mb-4">MyDrive is your personal online and secure space for photos, documents, and any files.</p>
	</div>
	<div class="image md:w-1/2 flex justify-center">
		<img src="/images/cloud-img.svg" alt="Cloud" class="h-32 md:h-48 lg:h-64 w-auto" />
	</div>
</div>
<div class="user-buttons">
	<a class="btn" href="/login">Login</a>
	<a class="btn-alt" href="/signup">Sign Up</a>
</div>
<%- include("partials/features") %>
<%- include("partials/about") %>
<%- include("partials/stats") %>
<%- include("partials/testimonials") %>
