<div class="flex items-center justify-center min-h-[60vh]">
	<div class="text-center mt-20">
		<h1 class="text-3xl font-semibold mb-4">You've been logged out</h1>
		<p class="mb-6">Thanks for visiting. See you next time!</p>
		<a href="/login" class="inline-block btn">Log Back In</a>
	</div>
</div>
