<div class="information-pages">
	<h1 class="text-3xl mb-4">Terms of Service</h1>
	<p class="mb-4">By using our service, you agree to the following terms:</p>
	<ul class="list-disc pl-5 space-y-2">
		<li>You are responsible for the content you upload.</li>
		<li>You may not use this service for illegal activities.</li>
		<li>We reserve the right to terminate accounts that violate our terms.</li>
		<li>We do our best to ensure uptime, but we cannot guarantee it.</li>
	</ul>
</div>
